<h3><i class="fa-solid fa-drumstick-bite" style="color: #f9b43e;"></i> MealMemoirs</h3>
<div class="section">
    <p class="lead">Document and share your favorite recipes. </p>
</div>
<div class="divider"></div> 
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
